<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->


<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- Navigation Menu -->
<nav style="background-color: #333; padding: 10px; text-align: center;">
  <ul style="list-style: none; margin-left: 33%; padding: 0; width: 25%; display: flex; justify-content: space-evenly;">
    <li><a href="{{ '/' | relative_url }}" style="color: white; text-decoration: none;">Home</a></li>
    <li><a href="{{ '/docs/about' | relative_url }}" style="color: white; text-decoration: none;">About</a></li>
    <li><a href="{{ '/docs/resume' | relative_url }}" style="color: white; text-decoration: none;">Resume</a></li>
  </ul>
</nav>
<!-- end custom head snippets -->